<% provide(:title, 'Contact')%>
<div class="header_image" style="background: url('https://fandy.vn/wp-content/uploads/2017/09/header-default-1.png') no-repeat left;height: 350px;background-size: 100%;"></div>
<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Contact</li>
    </ol>
  </nav>
  <div class="wrapper">
    <h1>Contact </h1>
    <p></p>
    <h3>BUSINESS DEVELOPMENT</h3>
    <br>
    <p>support.vn@auction.com</p>
    <br>
    <p>Interested in in a partnership or business development opportunity?  <a href="mailto:support.vn@auction.com">Contact Us</a></p>
    <br><br>
    <h3>MEDIA/PUBLIC RELATIONS</h3>
    <br>
    <p>For media inquiries, we’ll be happy to answer you questions. <a href="mailto:support.vn@auction.com">Contact Us</a></p>
    <br><br>
    <h3>EMAIL SUPPORT</h3>
    <br>
    <p>If you have a support issue, please click <a href="mailto:support.vn@auction.com">click here</a></p>
    <br>
    <p>PHONE SUPPORT: 0972854570</p>
    <br>
    <p>Auction Vietnam Company Limited, 8 Ha Van Tinh, Da Nang</p>
    <p></p>
  </div>
</div>
