<% provide(:title, 'Contact')%>
<div class="wrapper">
  <h1>Contact </h1>
  <p></p>
  <h3>BUSINESS DEVELOPMENT</h3>
  <br>
  <p>support.vn@chilindo.com</p>
  <br>
  <p>Interested in in a partnership or business development opportunity?  <a href="mailto:support.vn@chilindo.com">Contact Us</a></p>
  <br><br>
  <h3>MEDIA/PUBLIC RELATIONS</h3>
  <br>
  <p>For media inquiries, we’ll be happy to answer you questions. <a href="mailto:support.vn@chilindo.com">Contact Us</a></p>
  <br><br>
  <h3>EMAIL SUPPORT</h3>
  <br>
  <p>If you have a support issue, please click <a href="mailto:support.vn@chilindo.com">click here</a></p>
  <br>
  <p>PHONE SUPPORT: 02836222111</p>
  <br>
  <p>Chilindo Vietnam Company Limited, Athena Bulding, No. 146-148 Cong Hoa Street, Ward 12, Tan Binh District, HCMC</p>
  <p></p>
</div>
