<% provide(:title, 'Contact')%>
<h1>Liên hệ </h1>
<p></p>
<h2>Phát triển kinh doanh</h2>
<br>
<p>support.vn@chilindo.com</p>
<br>
<p>Quan tâm tới hợp tác và phát triển kinh doanh?  <a href="mailto:support.vn@chilindo.com">Liên hệ với chúng tôi</a></p>
<br><br>
<h2>Truyền thông/PR</h2>
<br>
<p>Với yêu cầu truyền thông, chúng tôi sẵn sàng trả lời câu hỏi của bạn. <a href="mailto:support.vn@chilindo.com">Liên hệ với chúng tôi</a></p>
<br><br>
<h2>EMAIL hỗ trợ</h2>
<br>
<p>Nếu bạn cần hỗ trợ, vui lòng viết cho chúng tôi tại đây. <a href="mailto:support.vn@chilindo.com">Nhấn vào đây</a></p>
<br>
<p>Điện thoại hỗ trợ: 02836222111</p>
<br>
<p>Chilindo Vietnam Company Limited,  Tòa nhà Athena, số 146-148 đường Cộng Hòa, phường 12, quận Tân Bình, Tp.HCM</p>
