<% provide(:title, 'Home')%>
<div class="slider">
  <div class="row">
    <div class="large-12 medium-12 columns">
      <div class="row">
        <div class="forcefullwidth_wrapper_tp_banner" id="rev_slider_1_1_forcefullwidth" style="position:relative;width:100%;height:auto;margin-top:0px;margin-bottom:0px">
          <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin: 0px auto; padding: 0px; height: 560px; position: absolute; max-height: none; overflow: visible; width: 1440px; left: -80px;">
            <div id="rev_slider_1_1" class="rev_slider fullwidthabanner tp-overflow-hidden revslider-initialised tp-simpleresponsive rev_redraw_on_blurfocus" style="max-height: none; margin-top: 0px; margin-bottom: 0px; height: 560px;" data-version="5.4.6.2" data-slideactive="rs-53">
              <ul class="tp-revslider-mainul" style="visibility: visible; display: block; overflow: hidden; width: 100%; height: 100%; max-height: none;">
                <li data-index="rs-53" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-link="https://fandy.vn/san-pham/ao-tracksuit-fandy/" data-thumb="https://fandy.vn/wp-content/uploads/2017/11/Banner-AM971.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 20; visibility: inherit; opacity: 1; background-color: rgba(255, 255, 255, 0);">
                  <div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <div class="tp-bgimg defaultimg " data-bgcolor="undefined" style="background-repeat: no-repeat; background-image: url(&quot;https://fandy.vn/wp-content/uploads/2017/11/Banner-AM971.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="https://fandy.vn/wp-content/uploads/2017/11/Banner-AM971.jpg"></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="tp-fullwidth-forcer" style="width: 100%; height: 560px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row support-box show-for-large-up">
	<div class="large-12 columns">
		<div class="row" style="margin-left: 70px;">
			<div class="box doi-hang">
				<span class="icon"></span>
				<span class="text">Free 3 days of change</span>
			</div>
			<div class="box giao-hang">
				<span class="icon"></span>
				<span class="text">Free delivery within the city</span>
			</div>
			<div class="box thanh-toan">
				<span class="icon"></span>
				<span class="text">Payment on delivery</span>
			</div>
			<div class="box ho-tro">
				<span class="icon"></span>
				<span class="text">Common problems</span>
			</div>
		</div>
	</div>
</div>
<div class="banner_top">
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div id="home_banners-2" class="widget-odd widget-first widget-1 banner-box home_banners">
          <div class="home-banner-top">
            <img src="https://fandy.vn/wp-content/uploads/2018/08/banner-men.jpg">
          </div>
          <div class="banner-title">
            <div style="background: url(https://fandy.vn/wp-content/uploads/2018/08/bg_title_men.jpg) no-repeat;">
							<a href="#" title="Fashion">Fashion</a>
							<i class="fa fa-caret-right"></i>
					  </div>
          </div>
        </div>
        <div id="home_banners-3" class="widget-even widget-last widget-2 banner-box home_banners">
          <div class="home-banner-top">
            <img src="https://fandy.vn/wp-content/uploads/2018/08/banner-women.jpg">
          </div>
          <div class="banner-title">
            <div style="background: url(https://fandy.vn/wp-content/uploads/2018/08/bg_title_women.jpg) no-repeat;">
							<a href="#" title="Convenient">Convenient</a>
							<i class="fa fa-caret-right"></i>
						</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="services">
	<div class="container">
		<div class="services-main">
			<div class="services-top">
				<h3>Our Best Online Auction Services</h3>
				<p>Great design is about more than style,it's about being yourself</p>
			</div>
			<div class="services-bottom">
			  <nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active" aria-current="page">Auction Finish Now</li>
					</ol>
				</nav>
				<div class="row" id="listauctions-finish">
					<div class="clearfix"></div>
				</div>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active" aria-current="page">All Auction</li>
					</ol>
				</nav>
				<div class="row" id="listauctions">
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>
