<% provide(:title, 'Home')%>
<div class="services">
	<div class="container">
		<div class="services-main">
			<div class="services-top">
				<h3>Our Best Auction Online Services</h3>
				<p>Great design is about more than style,it's about being yourself</p>
			</div>
			<div class="services-bottom">
				<div class="row" id="listauctions">
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
</div>
