<% provide(:title, 'Auction')%>
<div class="services">
	<div class="container">
		<div class="services-main">
			<div class="services-top">
				<h3>Our Best Auction Online Services</h3>
				<p>Great design is about more than style,it,s about being yoursel</p>
			</div>
			<div class="services-bottom">
				<div class="row">
				  <% @products.each do |product| %>
						<div class="col-sm-6 col-md-3 ser">
							<div class="product-item thumbnail">
								<%= link_to image_tag(image_first_of_object(product)), root_path %>
								<div class="caption text-center">
									<a href="#"><h3><%= product.name %></h3></a>
									<p><span id="countdowntimer" class="text-danger">1:10</span></p>
									<span class= "last-bid-user rows"><%= image_tag('auctions.png', class: 'icon-auction') %> 1K</span>
								</div>
							</div>
						</div>
					<% end %>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
</div>
