<div class="header_image" style="background: url('https://fandy.vn/wp-content/uploads/2017/09/header-default-1.png') no-repeat left;height: 350px;background-size: 100%;"></div>
<div class="row">
  <div class="large-12 columns page">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Products</li>
        </ol>
      </nav>
      <h1 class="page-title">Result for find</h1>
      <div class="woocommerce columns-4 ">
        <div class="products row">
          <%= render @products %>
        </div>
      </div>
    </div>
  </div>
</div>