<h1>Auction Online</h1>

<p>Hi <%= @user.name %>,</p>

<p>Your account has been deactivated at: <%= Time.zone.today %>.</p>
<p>Reason: <%= @reason %>.</p>
<p>Please contact admin to open account.</p>
<p>Thank you.</p>
