<h1>Auction Website</h1>

<p>Hi <%= @user.name %>,</p>

<p>Your account has been activated at: <%= Time.zone.today %>.</p>
<p>Notice: <%= @reason %>.</p>
<p>Please carefully when use account.</p>
<p>Thank you.</p>
