<li class="history_rows odd">
  <span class="bid_user current_winner pro_user"><%= auction_detail.user.name %></span>
  <span class="bid_amount"><%= auction_detail.price_bid %></span>
  <span class="bid_time"><%= auction_detail.created_at %> </span>
</li>
