<div class="row bootstrap snippets">
  <!-- Cart -->
  <div class="col-lg-12 col-md-12 col-sm-12 text-center">
    <div class="col-lg-12 col-sm-12 hero-feature">
      <div class="table-responsive">
        <table class="table table-bordered tbl-cart">
          <thead>
            <tr>
              <td class="hidden-xs">Image</td>
              <td>Product Name</td>
              <td class="td-qty">Quantity</td>
              <td>Unit Price</td>
              <td>Remove</td>
            </tr>
          </thead>
          <tbody>
            <%= render @items %>
          </tbody>
        </table>
      </div>
      <div class="btn-group btns-cart">
        <button type="button" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Continue Shopping</button>
        <button type="button" class="btn btn-primary">Checkout <i class="fa fa-arrow-circle-right"></i></button>
      </div>
    </div>
  </div>
  <!-- End Cart -->
</div>
