<% provide(:title, 'Cart') %>
<div id="my_orders" class="container main">
  <div id="content">
    <h1>
      Cart
    </h1>
    <!-- UPDATES - In-Cart Only display 'in-cart' if users have product in the cart -->
    <div class="">
      <div class="div-inline-block full-width clearfix">
        <div class="float-left">
          <h2>
            Cart - wait to checkout
          </h2>
        </div>
      </div>
      <%= render 'cart_table' %>
      <div class="delivery-payment">
        <ul>
          <li>
            <span>
            <%= image_tag('delivery-car.png',alt: '')%>
            </span>
            <p class="minimize">
              Free Delivery In 3 Days
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <div class="delivery-details">
    <ul>
      <li>
        <h3>
          When will I receive my products?
        </h3>
        <p>
          You can expect to receive your order within 1-2 business days.
        </p>
      </li>
      <li>
        <h3>
          What is Chilindo's return policy?
        </h3>
        <p>
          If you are not satisfied with your order, you can return it within 14 days
        </p>
      </li>
      <li>
        <h3>
          Want to change your order?
        </h3>
        <p>
          Give us a call at 02836222111
        </p>
      </li>
    </ul>
  </div>
</div>
