// Place all the styles related to the admin/assets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.remove {
  display: none;
}

.add {
  margin-bottom: 10px;
}

.image-item {
  margin: 10px 0;
}