.button-item {
  text-decoration: none;
  padding: 8px;
  border-radius: 5px;
  float: left;
}
.button-item:hover {
  color: #ca6b6b;
  text-decoration: none;
}
.add-item {
  background-color: green;
  float: left;
  margin-bottom: 30px;
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
}
.add-item:hover {
  text-decoration: none;
  color: white;  
}
.add-item-child {
  background-color: #998f8f;
}
.header-panel-body{
  position: relative;
}
#search {
  position: absolute;
  right: 0;
  display: flex;
}
.search-item {
  margin-left: 10px;
  height: 35px;
}
.update-item {
  color: #423838;
  font-size: 17px;
}
.delete-item {
  color: #423838;
  font-size: 17px;
}
.block-item {
  color: #423838;
  font-size: 17px;
}
.detail-items {
  background-color: #d6d912;
  margin-left: 10px;
}

#nav-right {
  display: flex;
  margin-right: 0;
}
.img-resize {
  width: 200px;
  height: 200px;
  margin-top: 15px;
}
.center {
  text-align: center;
}
.auction-item {
  border-radius: 5px;
  padding: 4px;
}
.run {
  background-color: #3be339;
}
.finish {
  background-color: #9ca2b8;
}
.search-edit {
  margin-bottom: 40px;
}
#green-border {
  border-color: #5cb85c;
}
#yellow-border {
  border-color: #f0ad4e;
}
#red-border {
  border-color: #d9534f;
}
#border-left {
  border-left: 1px solid; 
}
.search-auction{
  margin-bottom: 80px;
}
.search-right{
  margin-right: 10px;
}
.csv-file {
  margin-left: 20px;
  color: #505e84;
}
.link-left {
  float: left;
}
.delete-more {
  margin-left: 30px;
  display: none;
}
.total-auction {
  color: white;
  padding: 7px;
  border-radius: 14px;
}
.blue-space {
  background-color: blue;
}
.red-space {
  background-color: red;
}
.gray-space {
  background-color: gray;
}
.total-space {
  margin-bottom: 15px;
  font-size: 16px;
}
.space-bottom {
  margin-top: 50px;
}
.action-user {
  width: 11%;
}
// category admin
.action-cat {
  width: 8%;
}
.name-cat {
  width: 15%;
}
.description-cat {
  width: 45%;
}
.update-item-cat {
  background-color: #5bc0de;
}
// avatar
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}
// user-avatar
.img-user {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 15px;
}
// img-product
.img-product {
  width: 160px;
  height: 160px;
}
.action-product {
  width: 11%;
}
.center-td {
  vertical-align: middle;
  text-align: center;
}
// table payment
.name-payment {
  width: 30%;
}
.description-payment {
  width: 30%
}
// add promotions category
.cat-item {
  display: flex;
}
.category-pro {
  width: 160px;
  margin-right: 60px;
}
.remove-cat {
  margin: 25px 0 0 40px;
  height: 10%;
}
.cat-tab {
  width: 15%;
}
.date-tab {
  width: 18%;
}
.pro-cat-action {
  width: 8%
}
.timer-action {
  width: 8%;
}
.timer-status {
  font-size: 17px;
}
.auction-action {
  width: 8%;
}