.button-item {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  float: left;
  margin-bottom: 10px;
}
.button-item:hover {
  color: whitesmoke;
  text-decoration: none;
}
.add-item {
  background-color: green;  
}
.add-item-child {
  background-color: #998f8f;
}
.header-panel-body{
  position: relative;
}
#search {
  position: absolute;
  right: 0;
}
.update-item {
  background-color: #5bc0de;
  margin-left: 10px;
}
.update-timer-item {
  background-color: #3348b7;
  margin-left: 10px;
}
.delete-item {
  background-color: #d9534f;
  margin-left: 10px;
}
.detail-items {
  background-color: #d6d912;
  margin-left: 10px;
}

#nav-right {
  display: flex;
  margin-right: 0;
}
.img-resize {
  width: 100px;
  height: 100px;
}
.center {
  text-align: center;
}
.auction-item {
  border-radius: 5px;
  padding: 2px;
}
.run {
  background-color: #3be339;
}
.finish {
  background-color: #9ca2b8;
}
.btn-margin {
  margin-left: 40%;
}