<% provide(:manage, 'Dashbard') %>
<div class="row">
   <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
         <div class="panel-heading">
            <div class="row">
               <div class="col-xs-3">
                  <i class="fa fa-codepen fa-5x"></i>
               </div>
               <div class="col-xs-9 text-right">
                  <div class="huge"><%= @products %></div>
                  <div>Products</div>
               </div>
            </div>
         </div>
         <a href="/admin/products">
            <div class="panel-footer">
               <span class="pull-left">View Details</span>
               <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
               <div class="clearfix"></div>
            </div>
         </a>
      </div>
   </div>
   <div class="col-lg-3 col-md-6">
      <div class="panel panel-green" id="green-border">
         <div class="panel-heading">
            <div class="row">
               <div class="col-xs-3">
                  <i class="fa fa-users fa-5x"></i>
               </div>
               <div class="col-xs-9 text-right">
                  <div class="huge"><%= @users %></div>
                  <div>Users</div>
               </div>
            </div>
         </div>
         <a href="/admin/users">
            <div class="panel-footer">
               <span class="pull-left">View Details</span>
               <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
               <div class="clearfix"></div>
            </div>
         </a>
      </div>
   </div>
   <div class="col-lg-3 col-md-6">
      <div class="panel panel-yellow" id="yellow-border">
         <div class="panel-heading">
            <div class="row">
               <div class="col-xs-3">
                  <i class="fa fa-shopping-cart fa-5x"></i>
               </div>
               <div class="col-xs-9 text-right">
                  <div class="huge"><%= @orders %></div>
                  <div>Orders</div>
               </div>
            </div>
         </div>
         <a href="/admin/orders">
            <div class="panel-footer">
               <span class="pull-left">View Details</span>
               <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
               <div class="clearfix"></div>
            </div>
         </a>
      </div>
   </div>
   <div class="col-lg-3 col-md-6">
      <div class="panel panel-red" id="red-border">
         <div class="panel-heading">
            <div class="row">
               <div class="col-xs-3">
                  <i class="fa fa-support fa-5x"></i>
               </div>
               <div class="col-xs-9 text-right">
                  <div class="huge"><%= @auctions %></div>
                  <div>Auctions</div>
               </div>
            </div>
         </div>
         <a href="/admin/auctions">
            <div class="panel-footer">
               <span class="pull-left">View Details</span>
               <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
               <div class="clearfix"></div>
            </div>
         </a>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-8">
      <div class="panel panel-default">
         <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Order Chart By Week
         </div>
         <div class="panel-body">
            <canvas id="myChart"></canvas> 
         </div>
      </div>
   </div>
   <div class="col-lg-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <i class="fa fa-bell fa-fw"></i> Top products seller
         </div>
         <div class="panel-body">
            <div class="list-group">
               <a href="#" class="list-group-item">
               <i class="fa fa-comment fa-fw"></i> New Comment
               <span class="pull-right text-muted small"><em>4 minutes ago</em>
               </span>
               </a>
               <a href="#" class="list-group-item">
               <i class="fa fa-twitter fa-fw"></i> 3 New Followers
               <span class="pull-right text-muted small"><em>12 minutes ago</em>
               </span>
               </a>
               <a href="#" class="list-group-item">
               <i class="fa fa-envelope fa-fw"></i> Message Sent
               <span class="pull-right text-muted small"><em>27 minutes ago</em>
               </span>
               </a>
               <a href="#" class="list-group-item">
               <i class="fa fa-tasks fa-fw"></i> New Task
               <span class="pull-right text-muted small"><em>43 minutes ago</em>
               </span>
               </a>
               <a href="#" class="list-group-item">
               <i class="fa fa-upload fa-fw"></i> Server Rebooted
               <span class="pull-right text-muted small"><em>11:32 AM</em>
               </span>
               </a>
               <a href="#" class="list-group-item">
               <i class="fa fa-bolt fa-fw"></i> Server Crashed!
               <span class="pull-right text-muted small"><em>11:13 AM</em>
               </span>
               </a>
               <a href="#" class="list-group-item">
               <i class="fa fa-warning fa-fw"></i> Server Not Responding
               <span class="pull-right text-muted small"><em>10:57 AM</em>
               </span>
               </a>
               <a href="#" class="list-group-item">
               <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
               <span class="pull-right text-muted small"><em>9:49 AM</em>
               </span>
               </a>
               <a href="#" class="list-group-item">
               <i class="fa fa-money fa-fw"></i> Payment Received
               <span class="pull-right text-muted small"><em>Yesterday</em>
               </span>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
<script>
   var ctx = document.getElementById('myChart');
   var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
         labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
         datasets: [{
               label: 'Orders',
               data: [5, 4, 3, 2, 2, 1],
               backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
               ],
               borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
               ],
               borderWidth: 1
         }]
      },
      options: {
         scales: {
               xAxes: [{
                  stacked: true
               }],
               yAxes: [{
                  stacked: true
               }]
         }
      }
   });
</script>
