<% provide(:manage, 'Dashbard') %>
<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-codepen fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= @products %></div>
            <div>Product</div>
          </div>
        </div>
      </div>
      <a href="/admin/products">
        <div class="panel-footer">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-green" id="green-border">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-users fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= @users %></div>
            <div>User</div>
          </div>
        </div>
      </div>
      <a href="/admin/users">
        <div class="panel-footer">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow" id="yellow-border">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-shopping-cart fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= @orders %></div>
            <div>Orders</div>
          </div>
        </div>
      </div>
      <a href="/admin/orders">
        <div class="panel-footer">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-red" id="red-border">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-support fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= @categories %></div>
            <div>Category</div>
          </div>
        </div>
      </div>
      <a href="/admin/categories">
        <div class="panel-footer" id="border-left">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
        <div class="pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
            Actions
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li><a href="#">Action</a>
              </li>
              <li><a href="#">Another action</a>
              </li>
              <li><a href="#">Something else here</a>
              </li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>
      </div>
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart Example
        <div class="pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
            Actions
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li><a href="#">Action</a>
              </li>
              <li><a href="#">Another action</a>
              </li>
              <li><a href="#">Something else here</a>
              </li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bell fa-fw"></i> Notifications Panel
      </div>
      <div class="panel-body">
        <div class="list-group">
          <a href="#" class="list-group-item">
          <i class="fa fa-comment fa-fw"></i> New Comment
          <span class="pull-right text-muted small"><em>4 minutes ago</em>
          </span>
          </a>
          <a href="#" class="list-group-item">
          <i class="fa fa-twitter fa-fw"></i> 3 New Followers
          <span class="pull-right text-muted small"><em>12 minutes ago</em>
          </span>
          </a>
          <a href="#" class="list-group-item">
          <i class="fa fa-envelope fa-fw"></i> Message Sent
          <span class="pull-right text-muted small"><em>27 minutes ago</em>
          </span>
          </a>
          <a href="#" class="list-group-item">
          <i class="fa fa-tasks fa-fw"></i> New Task
          <span class="pull-right text-muted small"><em>43 minutes ago</em>
          </span>
          </a>
          <a href="#" class="list-group-item">
          <i class="fa fa-upload fa-fw"></i> Server Rebooted
          <span class="pull-right text-muted small"><em>11:32 AM</em>
          </span>
          </a>
          <a href="#" class="list-group-item">
          <i class="fa fa-bolt fa-fw"></i> Server Crashed!
          <span class="pull-right text-muted small"><em>11:13 AM</em>
          </span>
          </a>
          <a href="#" class="list-group-item">
          <i class="fa fa-warning fa-fw"></i> Server Not Responding
          <span class="pull-right text-muted small"><em>10:57 AM</em>
          </span>
          </a>
          <a href="#" class="list-group-item">
          <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
          <span class="pull-right text-muted small"><em>9:49 AM</em>
          </span>
          </a>
          <a href="#" class="list-group-item">
          <i class="fa fa-money fa-fw"></i> Payment Received
          <span class="pull-right text-muted small"><em>Yesterday</em>
          </span>
          </a>
        </div>
        <a href="#" class="btn btn-default btn-block">View All Alerts</a>
      </div>
    </div>
  </div>
</div>
<script>
obj = total_order();
obj.forEach( function(e){
  console.log(e);
})
window.onload = function () {
var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,  
	title:{
		text: "Order"
	},
	data: [{
		yValueFormatString: "#,### Orders",
		xValueFormatString: "DDDD",
		type: "spline",
		dataPoints: [
			{ x: new Date(2018, 08, 01), y: 1},
      { x: new Date(2018, 08, 02), y: 2},
      { x: new Date(2018, 08, 03), y: 5},
      { x: new Date(2018, 08, 04), y: 5},      
      { x: new Date(2018, 08, 05), y: 6}
		]
	}]
});
chart.render();
}
</script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
