<li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-13068" id="mega-menu-item-13068">
  <%= link_to category.name, category_path(category), class: "mega-menu-link" %>
</li>
