<% provide(:title, @category.name)%>
<div class="header_image" style="background: url('https://fandy.vn/wp-content/uploads/2017/09/header-default-1.png') no-repeat left;height: 350px;background-size: 100%;"></div>
<div class="services">
	<div class="container">
		<div class="services-main">
			<div class="services-bottom">
			  <div class="row">
					<nav aria-label="breadcrumb" id="cat_id" data-cat-id=<%= params['id'] %>>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page"><%= @category.name %></li>
						</ol>
					</nav>
				</div>
				<div class="row" id="auction-categories">
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
</div>
