<% provide(:title, @category.name)%>
<div class="row support-box show-for-large-up">
	<div class="large-12 columns">
		<div class="row" style="margin-left: 70px;">
			<div class="box doi-hang">
				<span class="icon"></span>
				<span class="text">Free 3 days of change</span>
			</div>
			<div class="box giao-hang">
				<span class="icon"></span>
				<span class="text">Free delivery within the city</span>
			</div>
			<div class="box thanh-toan">
				<span class="icon"></span>
				<span class="text">Payment on delivery</span>
			</div>
			<div class="box ho-tro">
				<span class="icon"></span>
				<span class="text">Common problems</span>
			</div>
		</div>
	</div>
</div>
<div class="services">
	<div class="container">
		<div class="services-main">
			<div class="services-bottom">
			  <div class="row">
					<nav aria-label="breadcrumb" id="cat_id" data-cat-id=<%= params['id'] %>>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page"><%= @category.name %></li>
						</ol>
					</nav>
				</div>
				<div class="row" id="auction-categories">
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
</div>
