<% provide(:manage, 'Manage Users') %>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p>Add User</p>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <%= form_for(@user, url: admin_users_path) do |f| %>
              <%= render 'form', f: f %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
