<div id="product_id_1" class="extended_view single_product">
  <h2 class="product_title">
    <a id="ContentPlaceHolder1_lnkTitle"><span id="ContentPlaceHolder1_lbTitle">Ống nhòm di động cho điện thoại di động</span></a>
  </h2>
  <div id="ContentPlaceHolder1_UpdatePanel2">
    <div id="ContentPlaceHolder1_pBiddingInfo1" class="bidding_info_fail mbid_info">
      Giá mới trong phiên đấu giá!
      Giá thầu tối thiểu tiếp theo: 49
    </div>
  </div>
  <div class="product_photo_wrp">
    <div class="product_photo">
      <div class="zoomWrapper"><img id="js-ContentPlaceHolder1_imgProductPhoto" class="slow-images" data-zoom-image="https://www.cdn-chilindo.com/XML/Gfx/41-907/41-907-main_720.jpg" src="https://www.cdn-chilindo.com/XML/Gfx/41-907/41-907-main_250.jpg" style="max-width: 100%;border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;"></div>
      <div class="loading-image" style="display: none;"></div>
    </div>
    <ul class="product_gallery" id="js-gallery_id_60297">
      <li><a href="../../../#" id="ContentPlaceHolder1_aProduct1" class="product_thumb img72 active" data-image="https://www.cdn-chilindo.com/XML/Gfx/41-907/41-907-main_250.jpg" data-zoom-image="https://www.cdn-chilindo.com/XML/Gfx/41-907/41-907-main_720.jpg"><img id="ContentPlaceHolder1_imgGallery1" class="slow-images" src="https://www.cdn-chilindo.com/XML/Gfx/41-907/41-907-main_75.jpg"></a></li>
      <li><a href="../../../#" id="ContentPlaceHolder1_aProduct2" class="product_thumb img72" data-image="https://www.cdn-chilindo.com/XML/Gfx/41-907/41-907-1-1_250.jpg" data-zoom-image="https://www.cdn-chilindo.com/XML/Gfx/41-907/41-907-1-1_720.jpg"><img id="ContentPlaceHolder1_imgGallery2" class="slow-images" src="https://www.cdn-chilindo.com/XML/Gfx/41-907/41-907-1-1_75.jpg"></a></li>
      <li><a href="../../../#" id="ContentPlaceHolder1_aProduct3" class="product_thumb img72" data-image="https://www.cdn-chilindo.com/XML/Gfx/41-907/41-907-2-2_250.jpg" data-zoom-image="https://www.cdn-chilindo.com/XML/Gfx/41-907/41-907-2-2_720.jpg"><img id="ContentPlaceHolder1_imgGallery3" class="slow-images" src="https://www.cdn-chilindo.com/XML/Gfx/41-907/41-907-2-2_75.jpg"></a></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="product_info">
    <div class="left-product">
      <p class="info_field ends_in_label">Kết thúc trong: </p>
      <p class="timeout last_minute" style="height: 20px; color: rgb(204, 51, 85);"><span id="spanEndAuction"></span><span id="spanCountDown" class="timeout last_minute" style="color: rgb(204, 51, 85);"> 00:00:16</span></p>
    </div>
    <div id="ContentPlaceHolder1_UpdatePanel4">
      <div class="right-product">
        <p class="info_field current_bid_label">Giá thầu hiện tại: </p>
        <p class="info_data current_bid">  42K ₫</p>
      </div>
    </div>
    <div class="left-product">
      <p class="info_field select_size_label">chọn độ: </p>
      <p class="info_data">
        <span class="select_size" id="ddlSizeSpan">
          <select name="ctl00$ContentPlaceHolder1$ddlRelatedItems" id="ContentPlaceHolder1_ddlRelatedItems" class="product_size">
            <option value=""></option>
            <option selected="selected" value="41-907">Đen</option>
          </select>
        </span>
      </p>
    </div>
    <div id="ContentPlaceHolder1_UpdatePanel1">
      <div class="right-product">
        <span id="ContentPlaceHolder1_Timer1" style="visibility:hidden;display:none;"></span>
        <p class="info_field place_bid_label">Đấu giá ngay: <a href="#view_faq" class="bidding_help">?</a></p>
        <div class="info_data place_bid">
          <span class="bidding_box">
          <span class="bid_box">
          <span class="minus box_puls_minus">
          <input class="slider_minus" type="button" value="-" id="moins">
          </span>
          <span class="bid_text_number">
          <input name="ctl00$ContentPlaceHolder1$txtBidNew" value="49" maxlength="10" id="ContentPlaceHolder1_txtBidNew" type="tel" onblur="document.getElementById('ContentPlaceHolder1_txtBid').value = this.value" class="input_placebid">
          <input name="ctl00$ContentPlaceHolder1$txtBid" type="text" value="49" maxlength="10" id="ContentPlaceHolder1_txtBid" class="input_placebid" data-slider-values="49,56,63,70,77,84,91,98,105,112,119,126,133,140,147,154,161,168,175,182,189" style="display:none;">
          </span>
          <span class="puls box_puls_minus">
          <input class="slider_plus" type="button" value="+" id="plus">
          </span>
          </span>
          </span> 
          <script type="text/javascript">
            document.getElementById('ContentPlaceHolder1_txtBidNew').value = document.getElementById('ContentPlaceHolder1_txtBid').value;
          </script>
          <span class="bidding_button"><a id="ContentPlaceHolder1_btnBid" class="buttons bidding large" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$btnBid','')"><span class="place_one">Đấu giá ngay</span><span class="bidding_two">Bidding..</span></a></span>
          <p class="service_charge">10% phí dịch vụ</p>
        </div>
        <div class="info-product-right">
          <p class="bidding_msg"></p>
          <div class="current-winner">
            <div class="left-winner-icon">
              <img src="/Gfx/current_winner.jpg" alt="current_winner">
            </div>
            <div class="right-winner-name">
              <p class="info_field">Người thắng hiện tại</p>
              <p class="info_data"><span class="current_winner">kaklong85 </span></p>
            </div>
          </div>
          <div id="ContentPlaceHolder1_pBiddingInfo" class="bidding_info_fail fbid_info">Giá mới trong phiên đấu giá!
            Giá thầu tối thiểu tiếp theo: 49
          </div>
          <p id="pBiddingWaitMsg" class="bidding_wait_msg"></p>
        </div>
        <span id="ContentPlaceHolder1_spanCurrentMaxBidOnAuction"></span>
        <input type="hidden" name="ctl00$ContentPlaceHolder1$hdnIsFocusOnSizeDLL" id="hdnIsFocusOnSizeDLL" value="0">
      </div>
      <div id="ContentPlaceHolder1_pnlJScountdown">
        <input name="ctl00$ContentPlaceHolder1$txtJSend" type="text" value="8/13/2018 3:28:07 PM" id="ContentPlaceHolder1_txtJSend" style="color:White;border-color:White;border-style:None;width:10px;display:none;">
        <input name="ctl00$ContentPlaceHolder1$txtDThen" type="text" value="8/13/2018 3:27:47 PM" id="ContentPlaceHolder1_txtDThen" style="color:White;border-color:White;border-style:None;width:10px;display:none;">  
        <script type="text/javascript">
          // TargetDate = document.getElementById('ctl00_ContentPlaceHolder1_txtJSend').value; // "12/31/2020 5:00 AM";
          // DBBOWDate = document.getElementById('ctl00_ContentPlaceHolder1_txtDThen').value;
          TargetDate = document.getElementById('ContentPlaceHolder1_txtJSend').value; // "12/31/2020 5:00 AM";
          DBBOWDate = document.getElementById('ContentPlaceHolder1_txtDThen').value;
          
          // alert(DBBOWDate);
          BackColor = "palegreen";
          ForeColor = "navy";
          CountActive = true;
          CountStepper = -1;
          DisplayFormat = "%%D%%d, %%H%%:%%M%%:%%S%%";
          FinishMessage = "It is finally here!";
        </script>
        <script type="text/javascript" src="/includes/countdown.js?1.2018.08.07"></script>
      </div>
    </div>
    <div class="go-back-mobile">                
      <a href="/">Đấu giá cho sản phẩm khác. <i class="fa fa-angle-double-right"></i></a>
    </div>
    <a id="ContentPlaceHolder1_lnkbtnReactiveCancelAuction" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$lnkbtnReactiveCancelAuction','')"></a>
    <!-- <div class="bid-slider">
      <input name="ctl00$ContentPlaceHolder1$bidSlider" type="text" id="ContentPlaceHolder1_bidSlider" data-slider="true" data-slider-snap="true" data-slider-highlight="true" data-slider-values="35,42,49,56,63,70,77,84,91,98,105,112,119,126,133,140,147,154,161,168,175" />
      </div>      -->                  
  </div>
  <div class="service_condition">
    <div class="return_condition"><a href="#view_return_condition"><label>Trả lại sản phẩm</label></a></div>
    <div class="shipping_condition"><a href="#view_shipping_condition"><label>Giao hàng</label></a></div>
    <div class="payment_condition"><a href="#view_payment_condition"><label>Thanh toán</label></a></div>
    <p id="view_return_condition"><span id="ContentPlaceHolder1_lb342">chính sách hoàn trả trong 14 ngày áp dụng cho tất cả sản phẩm, cho phép bạn an tâm mua các thiết bị điện tử, quần áo, giày dép và hơn thế nữa.
      Chú ý: Tất cả sản phẩm phải được hoàn trả trong tình trạng ban đầu. Khi đáp ứng được điều kiện hoàn trả, bạn sẽ được hoàn lại đầy đủ số tiền không bao gồm 10% phí dịch vụ. Người mua hàng sẽ chịu trách nhiệm cho phí vận chuyển hàng trả lại. </span>
    </p>
    <p id="view_shipping_condition"><span id="ContentPlaceHolder1_lb343">Bạn sẽ nhận được kiện hàng trong vòng 1-3 ngày làm việc sau khi thanh toán thành công.
      Với mỗi hoá đơn, không kể số lượng sản phẩm bao gồm trong hoá đơn, bạn chỉ cần thanh toán 1 lần phí vận chuyển và 10% phí dịch vụ để đảm bảo kiện hàng của bạn được gửi nhanh chóng an toàn. 
      Phí dịch vụ không áp dụng cho các sản phẩm khuyến mãi có giá cố định.
      </span>
    </p>
    <p id="view_payment_condition"><span id="ContentPlaceHolder1_lb344">Chúng tôi cung cấp phương thức thanh toán thuận tiện và an toàn đối với những thanh toán trực tuyến bằng thẻ Visa hoặc Master</span></p>
  </div>
  <div id="ContentPlaceHolder1_UpdatePanel3">
    <div id="view_history">
      <ul class="bidding_history">
        <li class="history_heading">
          <span class="bid_user">Tài khoản / Tự động đấu giá</span>
          <span class="bid_amount">Giá dự thầu, ₫</span>
          <span class="bid_total">Tổng giá thầu</span>
          <span class="bid_time">Thời gian đấu giá</span>
        </li>
        <li class="history_rows odd">
          <span class="bid_user current_winner pro_user">kaklong85  </span>
          <span class="bid_amount">42K</span>
          <span class="bid_total">1</span>
          <span class="bid_time">13-08-2018 15:27:57 </span>
        </li>
        <span id="ContentPlaceHolder1_lbListOfBids">
          <li class="history_rows even"><span class="bid_user">mohd man  </span><span class="bid_amount">35K</span><span class="bid_total">1</span><span class="bid_time">13-08-2018 15:27:43 </span></li>
          <li class="history_rows odd"><span class="bid_user">trident_1  </span><span class="bid_amount">21K</span><span class="bid_total">1</span><span class="bid_time">13-08-2018 15:27:25 </span></li>
          <li class="history_rows even"><span class="bid_user">mu.fadz.127367  </span><span class="bid_amount">15K</span><span class="bid_total">1</span><span class="bid_time">13-08-2018 15:23:58 </span></li>
          <li class="history_rows odd"><span class="bid_user">dery.jc.573849  </span><span class="bid_amount">8K</span><span class="bid_total">1</span><span class="bid_time">13-08-2018 15:22:50 </span></li>
          <li class="history_rows even"><span class="bid_user">half.izzi.126485  </span><span class="bid_amount">1K</span><span class="bid_total">1</span><span class="bid_time">13-08-2018 15:22:09 </span></li>
        </span>
      </ul>
    </div>
  </div>
  <div class="product_details">
    <a href="#view_history" id="show_history">Ẩn lịch sử đấu giá</a>
    <ul class="product_details_tab">
      <li><a href="#view_details" id="show_details" class="active">Chi tiết sản phẩm</a></li>
      <li><a href="#view_faq" id="show_faq">FAQ</a></li>
    </ul>
    <div id="view_details">
      <h3>Chi tiết sản phẩm</h3>
      <table width="230" cellspacing="1" cellpadding="1">
        <tbody>
          <tr>
            <td>Phiên đấu giá số</td>
            <td id="litAuctionId">180441765</td>
          </tr>
          <tr>
            <td>Sản phẩm số </td>
            <td>41-907</td>
          </tr>
        </tbody>
      </table>
      <h3>Mô tả sản phẩm</h3>
      <p><span id="ContentPlaceHolder1_lbDescription">Ống nhòm di động cho Điện thoại thông minh của bạn là sản phẩm lý tưởng cho các chuyến đi cắm trại, leo núi và các hoạt động ngoài trời khác. Ống kính zoom tối ưu cho phép bạn chụp những bức ảnh đáng ngạc nhiên. Trả giá ngay bây giờ!</span></p>
      <p></p>
      <p></p>
      <p><span id="ContentPlaceHolder1_lbProductFacts">Thông số kỹ thuật:<br><br>- Có thể sử dụng làm ống nhòm một mắt hoặc hai mắt cho điện thoại di động của bạn<br>- Quang học nhiều lớp<br>- Trung tâm tập trung cơ chế để tập trung nhanh chóng và dễ dàng<br>- Bao gồm vỏ bao, dây đeo cổ và vải lau thấu kính. (* Không đi kèm gậy đỡ *)<br>- Phóng to: 16x<br>- Thấu kính mục tiêu: 52 mm<br>- Hệ thống lấy nét: Trung tâm<br>- Hệ thống lăng kính: Roof<br>- Tiêu cự cực đại: 18 mm<br>- Tiêu cự cực tiểu 5,2 mm<br>- Kích thước: 15,3 x 6 cm</span> </p>
    </div>
    <div id="view_faq">
      Khi giá thầu của bạn cao hơn giá thầu tối thiểu, hệ thống sẽ tự động đấu giá cho bạn. Lưu ý chúng tôi sẽ không bao giờ đấu giá cao hơn giá bạn đã đưa ra.<br><br>Hệ thống được thiết kế để giữ tiền cho bạn và cung cấp cho bạn cơ hội thắng đấu giá cao nhất với mức giá thấp nhất.<br><br>Với phương thức này bạn sẽ quyết định được mức giá tối đa bạn sẵn sàng trả cho sản phẩm và vẫn có cơ hội để thắng với mức giá thấp hơn mức giá tối đa mà bạn đã đưa ra.<br><br>Dưới đây là 1 ví dụ:<br><br>Một người dùng khác (Tạm gọi là Người Dùng 1) đưa ra giá thầu là 200k VND<br><br>Giá thầu của bạn là 300k VND.<br><br>Thay vì đấu giá với giá là 300k VND, thuật toán của chúng tôi sẽ điều chỉnh giá thầu của bạn xuống còn 200k VND.<br><br>Người Dùng 1 đưa ra giá thầu là 250k VND<br><br>Hệ thống của chúng tôi sẽ tự động đấu giá với mức giá bằng 250K VND cho bạn, bởi bạn đã đăng ký giá thầu tối đa mà bạn muốn trả cho sản phẩm là 300K VND.<br><br>Bạn vẫn sẽ thắng thầu với mức giá 250k VND.<br><br>Người Dùng 1 lại đưa ra giá thầu mới là 300k VND, bằng với giá đầu lúc đầu của bạn. Trong trường hợp này, hệ thống sẽ tự động khớp giá thầu của Người Dùng 1 và bạn vẫn là người thắng thầu với mức giá 300k VND<br><br>Chiến lược tốt là đưa ra một giá thầu tối đa cao từ ban đầu, như vậy bạn sẽ có cơ hội thắng thầu cao hơn, đặc biệt khi người dùng khác khớp với giá thầu của bạn<br><br>Người Dùng 1 đưa ra giá thầu mới là 310k VND<br><br>Bạn đã bị đấu giá cao hơn và Người Dùng 1 đang giữ lợi thế thắng cuộc. Nếu bạn muốn đưa ra giá thầu mới để thắng thầu bạn sẽ cần phải đưa ra giá thầu cao hơn 310k VND<br><br>Như vậy bạn có thể thắng, Chilindo được thiết kế để bạn có thể thắng đấu giá với giá tốt nhất.<br>
    </div>
  </div>
</div>
