<footer class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="row">
        <div class="large-12 columns top-footer">
          <div class="footer-menus">
            <div id="nav_menu-2" class="widget-odd widget-first widget-1 top-footer-box large-3 medium-6 columns widget_nav_menu">
              <h3 class="widget-title">About Auction Online</h3>
              <div class="menu-ve-fandy-container">
                <ul id="menu-ve-fandy" class="menu">
                  <li id="menu-item-1456" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1456"><a href="https://fandy.vn/tat-tan-tat-ve-fandy-store/">About Auction.vn</a></li>
                  <li id="menu-item-7202" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7202"><a href="https://fandy.vn/chinh-sach-bao-mat/">Privacy policy</a></li>
                  <li id="menu-item-7205" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7205"><a href="https://fandy.vn/dieu-khoan-su-dung/">Terms of use</a></li>
                </ul>
              </div>
            </div>
            <div id="nav_menu-5" class="widget-even widget-2 top-footer-box large-3 medium-6 columns widget_nav_menu">
              <h3 class="widget-title">Customer support</h3>
              <div class="menu-ho-tro-khach-hang-container">
                <ul id="menu-ho-tro-khach-hang" class="menu">
                  <li id="menu-item-692" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-692"><a href="tel:0905090909">Hotline: 0972 854 570</a></li>
                  <li id="menu-item-693" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-693"><a href="#">Frequently asked questions</a></li>
                  <li id="menu-item-1552" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1552"><a href="https://fandy.vn/huong-dan-dat-hang/">Ordering guide</a></li>
                  <li id="menu-item-1554" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1554"><a href="https://fandy.vn/chinh-sach-doi-tra/">Return policy</a></li>
                </ul>
              </div>
            </div>
            <div id="text-4" class="widget-odd widget-3 top-footer-box large-3 medium-6 columns widget_text">
              <h3 class="widget-title">Delivery service</h3>
              <div class="textwidget"><img src="https://fandy.vn/wp-content/uploads/2016/03/dich-vu-giao-hang.png"></div>
            </div>
            <div id="social-button-3" class="widget-even widget-last widget-4 top-footer-box large-3 medium-6 columns social-button">
              <h3 class="widget-title">Connect with us</h3>
              <div class="social-button-box">
                <ul>
                  <li class="facebook"><a href="https://www.facebook.com/shopfandy">Facebook</a></li>
                  <li class="instagram"><a href="javascript:void(0);">Instagram</a></li>
                  <li class="zalo"><a href="javascript:void(0);">Zalo</a></li>
                  <li class="youtube"><a href="https://www.youtube.com/channel/UCxg5zZvnnrf42ICAP5DIHkg">Youtube</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="large-12 columns bottom-footer">
          <div class="left-footer">
          </div>
          <div class="right-footer">
            <div id="text-3" class="widget-odd widget-last widget-first widget-1 widget_text">
              <div class="textwidget">
                <p>
                  Address: 8 Ha Van Tinh – Đa Nang<br>
                  Phone: 0972.854570 – Email: luan@auction.vn<br>
                  © 2019 Auction. Copyright by Auction<br>
                  <a class="dmca-badge" title="DMCA.com Protection Status" href="https://www.dmca.com/Protection/Status.aspx?ID=c931982d-4197-4e02-8374-e34309688ed4&amp;refurl=https://fandy.vn/thanh-toan/"> <img src="//images.dmca.com/Badges/dmca_protected_sml_120ad.png?ID=c931982d-4197-4e02-8374-e34309688ed4" alt="DMCA.com Protection Status"></a> <script src="//images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
